{% extends 'main/base.html' %}


{% block title %}
Browse Author
{% endblock %}

{% block style %}
<style type="text/css">
.button {
    padding:1em;
    text-align: center;
    display:inline-block;
    margin:0 auto;
    margin-top: 10pt;
    width: 50%;
}

.container{
  width: 100%;
  text-align: center;
}

.divider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

</style>
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="mt-4">Authors of T12 (Local Authors)</div>
    <hr class="mt-2 mb-2 divider">
    {% for au in localAuthors %}
        {% if au.authorized%}
            <div>
                <a class="button btn btn-primary" href="{{au.id}}">{{au.displayName}}</a>
            </div>
        {% else %}
            <div>
                <a class="button btn btn-primary" href="{{au.id}}">{{au.displayName}} (pending)</a>
            </div>
        {% endif %}
    {% endfor %}
</div>


<script>
    // 2dc59103754a77ac6a2de5a43fd9f994dc52e32a  T10 Auth token
    let url10 = "https://social-distribution-t10.herokuapp.com/api/";
    // let url18 = "https://cmput404-socialdistributio-t18.herokuapp.com/"
    // let tokens = []
    // let url10 = "https://glowing-palm-tree1.herokuapp.com/service/authors/"
    let h1 = new Headers();
    h1.append("Authorization", "Token 2dc59103754a77ac6a2de5a43fd9f994dc52e32a");
    let foreignAuthor = [];
    let req = new Request(url10+"authors/", {
        method: 'GET',
        mode: 'cors',
        headers: h1
    });
    fetch(req)
    .then(response => response.json())
    .then(data => {
        let containerDiv = document.querySelector("#container");
        let newDiv = document.createElement("div");
        let newHr = document.createElement("hr");
        newDiv.innerText = "Author of T10 (Foreign Authors)";
        newDiv.setAttribute("class", "mt-4")
        newHr.setAttribute("class", "mt-2 mb-2 divider");
        containerDiv.appendChild(newDiv);
        containerDiv.appendChild(newHr);
        let jsonData = data;
        jsonData = jsonData["data"];
        if (!jsonData){
            return;
        }
        for (let author of jsonData){
            if (author["displayName"] == "") {
                continue
            }
            let containerDiv = document.querySelector("#container");
            let newDiv = document.createElement("div");
            let newForm = document.createElement("form");
            let newButton = document.createElement("button");
            let newInput = document.createElement("input");
            newForm.setAttribute("action", "/remoteUser/detail/");
            newForm.setAttribute("method", "post");
            newForm.innerHTML += '{% csrf_token %}';
            newInput.setAttribute("type", "hidden");
            newInput.setAttribute("name", "data");
            newInput.setAttribute("value", JSON.stringify(author));
            newButton.innerText = author["displayName"];
            newButton.setAttribute("type", "submit");
            newButton.setAttribute("class", "button btn btn-primary");
            newForm.appendChild(newInput);
            newForm.appendChild(newButton);
            newDiv.appendChild(newForm);
            containerDiv.appendChild(newDiv);
        }
    })
</script>

<script>
    // 2dc59103754a77ac6a2de5a43fd9f994dc52e32a  T10 Auth token
    t18Token = btoa("t12:CMPUT404");
    console.log(t18Token);
    // let url10 = "https://social-distribution-t10.herokuapp.com/api/";
    let url18 = "https://cmput404-socialdistributio-t18.herokuapp.com/"
    // let tokens = []
    // let url10 = "https://glowing-palm-tree1.herokuapp.com/service/authors/"
    let h3 = new Headers();
    h3.append("Authorization", "Token " + t18Token);
    let foreignAuthor1 = [];
    let req1 = new Request(url18+"authors", {
        method: 'GET',
        mode: 'cors',
        headers: h3
    });
    fetch(req1)
    .then(response => response.json())
    .then(data => {
        let containerDiv1 = document.querySelector("#container");
        let newDiv1 = document.createElement("div");
        let newHr1 = document.createElement("hr");
        newDiv1.innerText = "Author of T18 (Foreign Authors)";
        newDiv1.setAttribute("class", "mt-4")
        newHr1.setAttribute("class", "mt-2 mb-2 divider");
        containerDiv1.appendChild(newDiv1);
        containerDiv1.appendChild(newHr1);
        let jsonData = data;

        jsonData = jsonData["data"];
        if (!jsonData){
            return;
        }
        for (let author of jsonData){
            if (author["displayName"] == "") {
                continue
            }
            let containerDiv = document.querySelector("#container");
            let newDiv = document.createElement("div");
            let newForm = document.createElement("form");
            let newButton = document.createElement("button");
            let newInput = document.createElement("input");
            newForm.setAttribute("action", "/remoteUser/detail/");
            newForm.setAttribute("method", "post");
            newForm.innerHTML += '{% csrf_token %}';
            newInput.setAttribute("type", "hidden");
            newInput.setAttribute("name", "data");
            newInput.setAttribute("value", JSON.stringify(author));
            newButton.innerText = author["displayName"];
            newButton.setAttribute("type", "submit");
            newButton.setAttribute("class", "button btn btn-primary");
            newForm.appendChild(newInput);
            newForm.appendChild(newButton);
            newDiv.appendChild(newForm);
            containerDiv.appendChild(newDiv);
        }
    })
</script>

<script>
    // 2dc59103754a77ac6a2de5a43fd9f994dc52e32a  T10 Auth token
    t2Token = btoa("T12:CMPUT404");
    // console.log(t18Token);
    // let url10 = "https://social-distribution-t10.herokuapp.com/api/";
    let url2 = "https://ourbackend.herokuapp.com/"
    // let tokens = []
    // let url10 = "https://glowing-palm-tree1.herokuapp.com/service/authors/"
    let h2 = new Headers();
    h2.append("Authorization", "Basic " + t2Token);
    let foreignAuthor2 = [];
    let req2 = new Request(url2+"authors/", {
        method: 'GET',
        mode: 'cors',
        headers: h2
    });
    fetch(req2)
    .then(response => response.json())
    .then(data => {
        let containerDiv1 = document.querySelector("#container");
        let newDiv1 = document.createElement("div");
        let newHr1 = document.createElement("hr");
        newDiv1.innerText = "Author of T2 (Foreign Authors)";
        newDiv1.setAttribute("class", "mt-4")
        newHr1.setAttribute("class", "mt-2 mb-2 divider");
        containerDiv1.appendChild(newDiv1);
        containerDiv1.appendChild(newHr1);
        let jsonData = data;

        jsonData = jsonData["authors"];
        if (!jsonData){
            return;
        }
        for (let author of jsonData){
            if (author["displayName"] == "") {
                continue
            }
            let containerDiv = document.querySelector("#container");
            let newDiv = document.createElement("div");
            let newForm = document.createElement("form");
            let newButton = document.createElement("button");
            let newInput = document.createElement("input");
            newForm.setAttribute("action", "/remoteUser/detail/");
            newForm.setAttribute("method", "post");
            newForm.innerHTML += '{% csrf_token %}';
            newInput.setAttribute("type", "hidden");
            newInput.setAttribute("name", "data");
            newInput.setAttribute("value", JSON.stringify(author));
            newButton.innerText = author["displayName"];
            newButton.setAttribute("type", "submit");
            newButton.setAttribute("class", "button btn btn-primary");
            newForm.appendChild(newInput);
            newForm.appendChild(newButton);
            newDiv.appendChild(newForm);
            containerDiv.appendChild(newDiv);
        }
    })
</script>

<script>
    // 2dc59103754a77ac6a2de5a43fd9f994dc52e32a  T10 Auth token
    t17Token = btoa("6cf0a506-ad52-4b3d-a323-34b9776cbba5:123456");
    // console.log(t18Token);
    // let url10 = "https://social-distribution-t10.herokuapp.com/api/";
    let url17 = "https://cmput404f21t17.herokuapp.com/service/"
    // let tokens = []
    // let url10 = "https://glowing-palm-tree1.herokuapp.com/service/authors/"
    let h4 = new Headers();
    h4.append("Authorization", "Basic " + t17Token);
    let foreignAuthor4 = [];
    let req4 = new Request(url17+"authors/", {
        method: 'GET',
        mode: 'cors',
        headers: h4
    });
    fetch(req4)
    .then(response => response.json())
    .then(data => {
        let containerDiv1 = document.querySelector("#container");
        let newDiv1 = document.createElement("div");
        let newHr1 = document.createElement("hr");
        newDiv1.innerText = "Author of T17 (Foreign Authors)";
        newDiv1.setAttribute("class", "mt-4")
        newHr1.setAttribute("class", "mt-2 mb-2 divider");
        containerDiv1.appendChild(newDiv1);
        containerDiv1.appendChild(newHr1);
        let jsonData = data;

        jsonData = jsonData["items"];
        if (!jsonData){
            return;
        }
        for (let author of jsonData){
            if (author["displayName"] == "") {
                continue
            }
            let containerDiv = document.querySelector("#container");
            let newDiv = document.createElement("div");
            let newForm = document.createElement("form");
            let newButton = document.createElement("button");
            let newInput = document.createElement("input");
            newForm.setAttribute("action", "/remoteUser/detail/");
            newForm.setAttribute("method", "post");
            newForm.innerHTML += '{% csrf_token %}';
            newInput.setAttribute("type", "hidden");
            newInput.setAttribute("name", "data");
            newInput.setAttribute("value", JSON.stringify(author));
            newButton.innerText = author["displayName"];
            newButton.setAttribute("type", "submit");
            newButton.setAttribute("class", "button btn btn-primary");
            newForm.appendChild(newInput);
            newForm.appendChild(newButton);
            newDiv.appendChild(newForm);
            containerDiv.appendChild(newDiv);
        }
    })
</script>


{% endblock %}

