{% extends 'main/base.html' %}


{% block title %}
View
{% endblock %}

{% block style %}
<style type="text/css">
.btoa {
    padding-left: 0pt !important;
}
div{
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
    <script>
        var contentBody;
        var counter = 0;
        var src = '{{name | safe}}';
        console.log(src)
        //src = JSON.parse(src);
        

        
    </script>

    <div id="contentList">

    </div>
    
    
    

<script>

let h1 = new Headers();
h1.append("Authorization", "Token 2dc59103754a77ac6a2de5a43fd9f994dc52e32a");

let req = new Request("https://api.github.com/users/" + src + "/events");
fetch(req)
.then(response => response.json())
.then(data => {
    let contentList = document.getElementById("contentList");
    
    for(let i=0; i<data.length;i++ ){
        let oneData = data[i]
        let type = oneData["type"]
        let displayLogin = oneData["actor"]["display_login"]
        let createdAt = oneData["created_at"]
        let repoName = oneData["repo"]["name"]
        
        let cardDiv = document.createElement("div")
        let cardHeader = document.createElement("div")
        let cardBody = document.createElement("div")

        cardDiv.setAttribute("class", "card ")
        cardDiv.setAttribute("style", "margin-bottom: 40pt;")
        cardHeader.setAttribute("class", "card-header")
        cardBody.setAttribute("class", "card-body")

        cardDiv.appendChild(cardHeader)
        cardDiv.appendChild(cardBody)

        contentList.appendChild(cardDiv)

        cardHeader.innerHTML = "Time: " + createdAt;
        cardBody.innerHTML = displayLogin + "   made   " + type + "   in   " + repoName
        

    }
    
    //contentBody.innerHTML += data
})
</script>



{% endblock %}

