{% extends 'main/base.html' %}

{% block style %}
<style>
  a.buttons{
    margin-left: 35%;
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
  }
  a.username{
    
    padding-left: 0;
    padding-right: 0;
  }
  .form-check-label {
    margin-bottom: 0;
    margin-left: 10pt;
}
</style>
{% endblock %}
{% block title %}
Create new post
{% endblock %}

{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}


  {% if user.is_authenticated%}
  <h3>Create Post</h3>
  <form method="post" action="../{{user.id|cut:user.host}}/posts/{% createuuid postId %}" class="form-group">
      <input type="hidden" name="_METHOD" value="PUT"/>
      {% csrf_token %}
      {{form|crispy}}
        <input class="btn-lg" type="submit" value="put" style="float: right;"> 
  </form>
  {%else%}
  <a class="buttons" href="/login/" class="btn btn-success">Login To Share Your Posts!</a>
  {%endif%}
<br>
<br>
  {% for pl in moments%}
    <div class="moment" style="margin-top:40pt;">
      <div class="panel panel-default">
        <div class="panel-heading">
          Posted by  <a href="../{{pl.user.id|cut:pl.user.host}}">{{pl.user.username}}</a>
          <br>
          At:{{pl.published}}
          <br>
          Title:{{pl.title}}
        </div>
        <div class="panel-body">{{pl.content}}</div>
      </div>  
    </div>
    
  {% endfor %}


{% endblock %}