{% extends 'main/base.html' %}

{% block style %}
<style>
  a.buttons{
    margin-left: 35%;
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
  }
  a.username{
    
    padding-left: 0;
    padding-right: 0;
  }
  .form-check-label {
    margin-bottom: 0;
    margin-left: 10pt;
  }
  #submitButton {
    float: right;
  }
  #id_contentType{
    width: auto;
  }
  #div_id_fileSelect{
    display: none;
  }
</style>
{% endblock %}
{% block title %}
Create new post


{% endblock %}

{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}

  {% if user.is_anonymous%}
    <a class="buttons" href="/login/" class="btn btn-success">Login To Share Your Posts!</a>
  {%else%}
  
    <h3>Create Post</h3>
    <form method="post" action="../{{user.id|cut:user.host}}/posts/" class="form-group" id="contentForm" onsubmit="post()">
        {% csrf_token %}
        {{form|crispy}}
          <input id="submitButton" class="btn btn-success" type="submit" value="post"> 
    </form>
  {%endif%}
<br>
<br>

<script>
  var contentBody;
  var counter = 0;
  var src = '{{content | safe}}';

  src = JSON.parse(src);

  function addImage(contentBody){
    let img = new Image();
    img.src = src[counter];
    // console.log(img.src);
    contentBody.appendChild(img);
    contentBody.setAttribute('style', 'display:flex; justify-content: center');
  }
</script>
  {% for pl in moments%}
    <div class="moment" style="margin-top:40pt;">
      <div class="panel panel-default">
        <div class="panel-heading">
          Posted by  <a href="{{pl.user.id}}">{{pl.user.username}}</a>
          <br>
          At:{{pl.published}}
          <br>
          Title:{{pl.title}}
        </div>
        <div class="panel-body" id="content-body"></div>
        {% if pl.contentType == "JPEG" or pl.contentType == "PNG" or pl.contentType == "application" %}
          <script type="text/javascript">

              contentBody = [...document.querySelectorAll('#content-body')][counter];
              addImage(contentBody);
              counter += 1;
          </script>
        {% else %}
          <script type="text/javascript">
            contentBody = [...document.querySelectorAll('#content-body')][counter];
            contentBody.innerHTML = src[counter];
            counter += 1;
          </script>
        {% endif %}
      </div>  
    </div>
    
  {% endfor %}

<script>

  var typeSelector = document.getElementById("id_contentType");


  let contentDiv = document.getElementById("div_id_content");
  let img = document.createElement("img");
  img.setAttribute('id', 'image');
  contentDiv.appendChild(img);

  let fileSelector = document.getElementById("id_fileSelect");

  typeSelector.addEventListener('change', function () {
    let text = typeSelector.value;
    if (['application', 'JPEG', 'PNG'].includes(text)){
      
      let fileSelector = document.getElementById('div_id_fileSelect');
      fileSelector.setAttribute('style', 'display:block');
      form = document.getElementById('contentForm');
      form.appendChild(fileSelector);

      let contentBox = document.getElementById("id_content");
      contentBox.setAttribute('style', 'display:none');
    }
    else{
      let fileSelector = document.getElementById('div_id_fileSelect');
      fileSelector.setAttribute('style', 'display:none');

      let contentBox = document.getElementById("id_content");
      contentBox.setAttribute('style', 'display:block');
    }
  });

  fileSelector.onchange = e => {
    const [file] = fileSelector.files;
    if (file) {
    img.src = URL.createObjectURL(file);
    }
    var reader = new FileReader();

    let file1 = fileSelector.files;
    reader.readAsDataURL(file1[0]);

    reader.onload = function () {
      let contentBox = document.getElementById("id_content");
      contentBox.value = reader.result;
    };

  }


  function post(){
    let typeSelector = document.getElementById("id_contentType");
    let fileSelector = document.getElementById("id_fileSelect");
    let contentBox = document.getElementById("id_content");
    let contentType = typeSelector.value;
    if (['application', 'JPEG', 'PNG'].includes(contentType)){
      
      
    }
    return true;

  }
  // changeForm();
</script>
{% endblock %}