{% extends "main/base.html" %}

{% block style %}
<style>
    #likeShare {
        float: right;
    }
    img{
        width: 20em;
    }
  </style>
{% endblock %}

{% block title %}
View List
{% endblock %}

{% block content %}
    <div class="moment" id="contentPanel" style="margin-top:40pt;">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:x-large">{{ls.title}}</div>
            <div class="panel-body" id='content-body'></div>
            {% if ls.contentType == "image/jpeg;base64" or ls.contentType == "image/png;base64" or ls.contentType == "application/base64" %}
                <script type="text/javascript">
                    let content = "{{content}}";
                    let contentType = "{{contentType}}"


                    const contentBody = document.getElementById('content-body');
                    let img = new Image();
                    img.src = content;
                    contentBody.appendChild(img);
                    contentBody.setAttribute('style', 'display:flex; justify-content: center');
                </script>
            
            {% else %}
                <script type="text/javascript">
                    let contentType = "{{contentType}}"
                    const contentBody = document.getElementById('content-body');
                    contentBody.innerHTML = '{{content|safe}}';
                </script>
            {% endif %}
          <div style="padding-bottom: 50pt;">   </div>
        </div>
        <form id="LikeForm" action="{{ls.user.id}}/inbox/" method="post">
        <a style="color: white;" class="btn btn-success" href="{{ls.id}}/share">repost Post</a>
        <div id="likeShare">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ls.id}}">
            <a  class="btn btn-success " onclick="shareOnClick()" >Share</a>
            {% if liked %}
            <button  value="{{ls.id}}" name="cantlike" class="btn btn-success " type="submit" disabled>Like</button>
            {% else %}
            <input type="hidden" name="type" value="like">
            <button  value="{{ls.id}}" name="likeButton" class="btn btn-success " type="submit">Like</button>
            {% endif %}
        </div>
        </form>
        <div><br>
            <form id="shareFrom" action="{{ls.user.id}}/inbox/" method="post" onsubmit="alert('hahahaha')">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ls.id}}">
                <input type="hidden" name="type" value="share">
                <button value="confirm" name="confirm" class="btn btn-success" id="confirmButton" type="submit" hidden>confirm</button>
                <section id="section"></section>
            </form>
        </div>
        
    </div>

    <script>
        
        let shareOnClick = async function(){
            let url =  "/getFriend/"
            let section = document.getElementById("section");
            if (section){
                section.parentElement.removeChild(section);
            }
            section = document.createElement("section");
            section.setAttribute("id", "section");
            let form = document.getElementById("shareFrom");
            form.appendChild(section);


            fetch(url).then( (response) => {if(response.status == 200){
                return response.json()
            }} ).then((data) => {
                let nameList = JSON.parse(data["nameList"])
                let idList = JSON.parse(data["idList"])
                let br = document.createElement("br")
                let section = document.getElementById("section")
                let contentPanel = document.getElementById("contentPanel")
                for(let i=0; i < nameList.length; i++){
                    let checkbox = document.createElement("input")
                    let label = document.createElement("label")
                    checkbox.setAttribute("type","checkbox")
                    checkbox.setAttribute("value", idList[i])
                    checkbox.setAttribute("name", "userSelect")
                    checkbox.setAttribute("id", "user"+ i)
                    label.setAttribute("for", "user" + i)
                    label.innerHTML = nameList[i]
                    section.appendChild(checkbox)
                    section.appendChild(label)
                    section.appendChild(br)

                }
                let confirm = document.getElementById("confirmButton");
                confirm.hidden = false;                
            } )
        }   
    </script>

    {% if ls.visibility == "Friend" %}
        {% if ls.user.id == user.id %}
            {% for comment in ls.comment_set.all %}
                <div class="panel panel-default" style="margin-top: 30pt;">
                    <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                    <div class="panel-body">{{comment.content}}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for comment in ls.comment_set.all %} 
                {% if comment.author.id == user.id %}
                    <div class="panel panel-default" style="margin-top: 30pt;">
                        <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                        <div class="panel-body">{{comment.content}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% for comment in ls.comment_set.all %}
            <div class="panel panel-default" style="margin-top: 30pt;">
                <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                <div class="panel-body">{{comment.content}}</div>
            </div>
        {% endfor %}
    {% endif %}
        
            
    <form method="post" style="margin-top: 30pt;" action="{{ls.id}}/comments">
        {% csrf_token %}
        <input type="hidden" name="url" value={{ls.id}}>
        <div class="input-group mb-3">
            <label for="comment">Comment:</label>
            <textarea class="form-control" name="content" rows="5" id="comment"></textarea>
        </div>
        <button type="submit", name="newComment", value="newComment", class="btn btn-success" style="float: right;">Post comment</button>
    </form>

{% endblock %}