{% extends "main/base.html" %}

{% block style %}
<style>
    #likeShare {
        float: right;
    }
    img{
        width: 20em;
    }
  </style>
{% endblock %}

{% block title %}
View List
{% endblock %}

{% block content %}
    <div class="moment" id="contentPanel" style="margin-top:40pt;">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:x-large">{{title}}</div>
            <div class="panel-body" id='content-body'></div>

            {% if contentType == "image/jpeg;base64" or contentType == "image/png;base64" or contentType == "application/base64" %}
                <script type="text/javascript">
                    let content = "{{content}}";
                    let contentType = "{{contentType}}"


                    const contentBody = document.getElementById('content-body');
                    let img = new Image();
                    img.src = content;
                    contentBody.appendChild(img);
                    contentBody.setAttribute('style', 'display:flex; justify-content: center');
                </script>
            {% else %}
                <script type="text/javascript">
                    let content = "{{content | safe}}";
                    let contentType = "{{contentType | safe}}"


                    const contentBody = document.getElementById('content-body');
                    contentBody.innerHTML = content;
                </script>
            {% endif %}
            <div style="padding-bottom: 50pt;">   </div>
        </div>
        <form id="LikeForm" action="#" method="post">
        <a style="color: white;" class="btn btn-success" href="{{ls.id}}/share">repost Post</a>
        <div id="likeShare">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ls.id}}">
            <a style="color: white;" class="btn btn-success " onclick="shareOnClick()" >Share</a>
            {% if liked %}
            <a style="color: white;" value="{{ls.id}}" name="cantlike" class="btn btn-success"  disabled>Like</a>
            {% else %}
            <input type="hidden" name="type" value="like">
            <a style="color: white;" value="{{ls.id}}" name="likeButton" class="btn btn-success">Like</a>
            {% endif %}
        </div>
        </form>
        <div><br>
            <form id="shareFrom" action="{{ls.user.id}}/inbox/" method="post" onsubmit="alert('hahahaha')">
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ls.id}}">
                <input type="hidden" name="type" value="share">
                <button value="confirm" name="confirm" class="btn btn-success" id="confirmButton" type="submit" hidden>confirm</button>
                <section id="section"></section>
            </form>
        </div>
        
    </div>

    <script>
        
        let shareOnClick = async function(){
            let url =  "/getFriend/"
            let section = document.getElementById("section");
            if (section){
                section.parentElement.removeChild(section);
            }
            section = document.createElement("section");
            section.setAttribute("id", "section");
            let form = document.getElementById("shareFrom");
            form.appendChild(section);


            fetch(url).then( (response) => {if(response.status == 200){
                return response.json()
            }} ).then((data) => {
                let nameList = JSON.parse(data["nameList"])
                let idList = JSON.parse(data["idList"])
                let br = document.createElement("br")
                let section = document.getElementById("section")
                let contentPanel = document.getElementById("contentPanel")
                for(let i=0; i < nameList.length; i++){
                    let checkbox = document.createElement("input")
                    let label = document.createElement("label")
                    checkbox.setAttribute("type","checkbox")
                    checkbox.setAttribute("value", idList[i])
                    checkbox.setAttribute("name", "userSelect")
                    checkbox.setAttribute("id", "user"+ i)
                    label.setAttribute("for", "user" + i)
                    label.innerHTML = nameList[i]
                    section.appendChild(checkbox)
                    section.appendChild(label)
                    section.appendChild(br)

                }
                let confirm = document.getElementById("confirmButton");
                confirm.hidden = false;                
            } )
        }   
    </script>

    {% if ls.visibility == "Friend" %}
        {% if ls.user.id == user.id %}
            {% for comment in ls.comment_set.all %}
                <div class="panel panel-default" style="margin-top: 30pt;">
                    <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                    <div class="panel-body">{{comment.content}}</div>
                </div>
            {% endfor %}
        {% else %}
            {% for comment in ls.comment_set.all %} 
                {% if comment.author.id == user.id %}
                    <div class="panel panel-default" style="margin-top: 30pt;">
                        <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                        <div class="panel-body">{{comment.content}}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% for comment in ls.comment_set.all %}
            <div class="panel panel-default" style="margin-top: 30pt;">
                <div class="panel-heading">{{user.displayName}} <br> {{comment.published}}</div>
                <div class="panel-body">{{comment.content}}</div>
            </div>
        {% endfor %}
    {% endif %}
        
            
    <form method="post" style="margin-top: 30pt;" action="{{ls.id}}/comments">
        {% csrf_token %}
        <input type="hidden" name="url" value={{ls.id}}>
        <div class="input-group mb-3">
            <label for="comment">Comment:</label>
            <textarea class="form-control" name="content" rows="5" id="comment"></textarea>
        </div>
        <a style="color: white; float: right;" type="submit", name="newComment", value="newComment", class="btn btn-success">Post comment</a>
    </form>
        </div>
    </div>
    
    <script>

        function uuid(){
            var dt = new Date().getTime();
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (dt + Math.random()*16)%16 | 0;
                dt = Math.floor(dt/16);
                return (c=='x' ? r :(r&0x3|0x8)).toString(16);
            });
            return uuid;
        }
        token10 = "29ada9ea8c040ecf9874b549d9949a3e3748b62e";
        token18 = "dDEyOkNNUFVUNDA0";

        function sendLike(object, team){

            url = "{{author.url}}" + "/inbox/";
            console.log(url);
            console.log(object);
            let host = "{{user.host}}"
            let user_url = "{{user.id}}".replace(host, "")
            user_url = host + 'service/' +user_url
            let like = {
                "type": "like",
                "@context": "https://www.w3.org/ns/activitystreams",
                "summary": "{{user.displayName}}" + "likes your post",
                "author": {
                    "type": "author",
                    "id": "{{user.id}}",
                    "host":"{{user.host}}",
                    "displayName": "{{user.diaplayName}}",
                    "url": user_url,
                    "github": "{{user.github}}",
                    "profileImage": "{{user.profileImage}}"
                },
                "object": object
            };

            

            like = JSON.stringify(like);
            let h = new Headers();
            if (team == 10){
                h.append("Authorization", "Token " + token10);
            }
            else if (team == 18){
                h.append("Authorization", "Basic " + token18);
            }
            h.append("Content-Type", "application/json");

            let req = new Request(url, {
                method: "POST",
                mode: "cors",
                headers: h,
                body: like,
            });

            fetch(req)
            .then(response => {
                console.log(response.status);
            });
        }


        function sendComment(object, team){
            let url = "{{source}}" + "/comments";
            console.log(url);
            let id = "{{source}}" + "/comments/"

            let content = document.getElementById("comment").value;
            let comment = {
                "type": "comment",
                "actor": {
                    "type": "author",
                    "id": "{{author.id}}",
                    "host":"{{author.host}}",
                    "displayName": "{{author.diaplayName}}",
                    "url": "{{author.url}}",
                    "github": "{{author.github}}",
                    "profileImage": "{{author.profileImage}}"
                },
                "comment": content,
                "contentType": "text/plain",
                "published": (new Date).toString(),
                "id" : id,
            };
            comment = JSON.stringify(comment);
            let h = new Headers();
            if (team == 10){
                h.append("Authorization", "Token " + token10);
            }
            else if (team == 18){
                h.append("Authorization", "Basic " + token18);
            }
            h.append("Content-Type", "application/json");

            let req = new Request(url, {
                method: "POST",
                mode: "cors",
                headers: h,
                body: comment,
            });

            fetch(req)
            .then(response => {
                console.log(response.status);
            });
        }

        let likeButton = document.getElementsByName("likeButton")[0];
        objectUrl = "{{source}}";
        if ("{{author.host}}" == "https://cmput404-socialdistributio-t18.herokuapp.com"){
            likeButton.setAttribute('onclick', 'sendLike(objectUrl, 18)');
        }else{
            likeButton.setAttribute('onclick', 'sendLike(objectUrl, 10)');
        }

        let commentButton = document.getElementsByName("newComment")[0];
        
        if ("{{author.host}}" == "https://cmput404-socialdistributio-t18.herokuapp.com"){
            commentButton.setAttribute('onclick', 'sendComment(objectUrl, 18)');
        }else{
            commentButton.setAttribute('onclick', 'sendComment(objectUrl, 10)');
        }
    </script>

{% endblock %}