{% extends "main/base.html" %}

{% block style %}
<style>
    #likeShare {
        float: right;
    }
    img{
        width: 20em;
    }

    .likeCount {
        float: right;
    }
  </style>
{% endblock %}

{% block title %}
View List
{% endblock %}

{% block content %}
<script>
    counter = 0;
    sendCommentLike = function (comment1){
        token10 = "dDEyOkNNUFVUNDA0";
        token18 = "dDEyOkNNUFVUNDA0";
        token17 = "NmNmMGE1MDYtYWQ1Mi00YjNkLWEzMjMtMzRiOTc3NmNiYmE1OjEyMzQ1Ng=="
        token02 = "VDEyOkNNUFVUNDA0";
        

        let url = comment1["author"]["url"] + "/inbox/";

        let host = "{{user.host}}"
        let user_url = "{{user.id}}".replace(host, "")
        user_url = host + 'service/' +user_url
        let like = {
            "type": "like",
            "@context": "https://www.w3.org/ns/activitystreams",
            "summary": "{{user.displayName}}" + " likes your post",
            "author": {
                "type": "author",
                "id": user_url,
                "host":"{{user.host}}",
                "displayName": "{{user.displayName}}",
                "url": user_url,
                "github": "{{user.github}}",
                "profileImage": "{{user.profileImage}}"
            },
            "object": comment1["id"]
        };

        like = JSON.stringify(like);
        let h = new Headers();
        if (team == 10){
            h.append("Authorization", "Basic " + token10);
        }
        else if (team == 18){
            h.append("Authorization", "Basic " + token18);
        }else if(team == 17){
            h.append("Authorization", "Basic " + token17);
        }else if(team == 02){
            h.append("Authorization", "Basic " + token02);
        }
        h.append("Content-Type", "application/json");

        let req = new Request(url, {
            method: "POST",
            mode: "cors",
            headers: h,
            body: like,
        });

        fetch(req)
        .then(response => {
            console.log(response.status);
        });
    }
</script>
    <div class="moment" id="contentCard" style="margin-top:40pt;">

        <div class="card ">
            <div class="card-header" style="font-size:x-large">{{ls.title}} <span class="likeCount">Liked by {{ls.count}} users</span></div>
            <div class="card-body" id='content-body'></div>
            
            {% if ls.contentType == "image/jpeg;base64" or ls.contentType == "image/png;base64" or ls.contentType == "application/base64" %}
                <script type="text/javascript">
                    let content = "{{content}}";
                    let contentType = "{{contentType}}"


                    const contentBody = document.getElementById('content-body');
                    let img = new Image();
                    img.src = content;
                    contentBody.appendChild(img);
                    contentBody.setAttribute('style', 'display:flex; justify-content: center');
                </script>
            
            {% else %}
                <script type="text/javascript">
                    let contentType = "{{contentType}}"
                    const contentBody = document.getElementById('content-body');
                    contentBody.innerHTML = '{{content|safe}}';
                </script>
            {% endif %}
            
        <div style="padding-bottom: 50pt;">   </div>
        <div class="card-header" >
            {% for c in ls.categories %}
            <span class="badge bg-secondary">{{c}} </span>  
            {% endfor %}
        </div>
        </div>
        <form id="LikeForm" action="{{ls.user.id}}/inbox/" method="post">
        <a style="color: white; margin-top: 10pt;" class="btn btn-primary" href="{{ls.id}}/share">repost Post</a>
        <div id="likeShare" style="margin-top: 10pt;">
            {% csrf_token %}
            <input type="hidden" name="url" value="{{ls.id}}">
            <a style="color: white;" class="btn btn-primary " onclick="shareOnClick()" >Share</a>
            {% if liked %}
            <button  value="{{ls.id}}" name="cantlike" class="btn btn-primary " type="submit" disabled>Like</button>
            {% else %}
            <input type="hidden" name="type" value="like">
            <button  value="{{ls.id}}" name="likeButton" class="btn btn-primary " type="submit">Like</button>
            {% endif %}
        </div>
        </form>
        <div><br>
            <form id="shareFrom" action="{{ls.user.id}}/inbox/" method="post" >
                {% csrf_token %}
                <input type="hidden" name="url" value="{{ls.id}}">
                <input type="hidden" name="type" value="share">
                <section id="section"></section>
                <button value="confirm" name="confirm" class="btn btn-primary" id="confirmButton" type="submit" hidden style="float: right;">confirm</button>
            </form>
        </div>
        
    </div>

    <script>
        
        let shareOnClick = async function(){
            let url =  "/getFriend/"
            let section = document.getElementById("section");
            if (section){
                section.parentElement.removeChild(section);
            }
            section = document.createElement("section");
            section.setAttribute("id", "section");
            let form = document.getElementById("shareFrom");
            form.appendChild(section);


            fetch(url).then( (response) => {if(response.status == 200){
                return response.json()
            }} ).then((data) => {
                let nameList = JSON.parse(data["nameList"])
                let idList = JSON.parse(data["idList"])
                let br = document.createElement("br")
                let section = document.getElementById("section")
                let contentCard = document.getElementById("contentCard")
                for(let i=0; i < nameList.length; i++){
                    let group = document.createElement("div")
                    let checkbox = document.createElement("input")
                    let label = document.createElement("label")
                    group.setAttribute("class", "btn-group")
                    group.setAttribute("role", "group")
                    group.setAttribute("aria-label", "Basic checkbox toggle button group")
                    group.setAttribute("style", "float: right;")
                    checkbox.setAttribute("type","checkbox")
                    checkbox.setAttribute("value", idList[i])
                    checkbox.setAttribute("name", "userSelect")
                    checkbox.setAttribute("id", "user"+ i)
                    checkbox.setAttribute("class", "btn-check")
                    checkbox.setAttribute("autocomplete", "off")
                    label.setAttribute("for", "user" + i)
                    label.setAttribute("class", "btn btn-outline-secondary")
                    label.innerHTML = nameList[i]
                    group.appendChild(checkbox)
                    group.appendChild(label)
                    section.appendChild(group)

                }
                let confirm = document.getElementById("confirmButton");
                confirm.hidden = false;                
            } )
        }   
    </script>

    {% if ls.visibility == "Friend" %}
        {% if ls.user.id == user.id %}
            {% for comment in ls.comment_set.all %}
                <div class="card " style="margin-top: 30pt;">
                    {% if comment.remote%}
                    <div class="card-header">{{comment.remote_author.displayName}} <br> {{comment.published}}</div>
                    {%else%}
                    <div class="card-header">{{comment.author.displayName}} <br> {{comment.published}}</div>
                    {%endif%}
                    <div class="card-body">{{comment.content}}</div>
                    {%if comment.remote%}

                    <form method="post" name="remoteCommentLike" style="margin-top: 30pt;" action="#">
                        {% csrf_token %}
                        <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                    </form>
                    <script>
                        
                        likeComment = [...document.getElementsByName("likeComment")][counter];
                        likeComment.addEventListener("click", function(){
                            token10 = "dDEyOkNNUFVUNDA0";
                            token18 = "dDEyOkNNUFVUNDA0";
                            token17 = "NmNmMGE1MDYtYWQ1Mi00YjNkLWEzMjMtMzRiOTc3NmNiYmE1OjEyMzQ1Ng=="
                            token02 = "VDEyOkNNUFVUNDA0";

                            let team;
                            if ('{{comment.remote_author.host}}' == "https://cmput404-socialdistributio-t18.herokuapp.com"){
                                team = 18;
                            }else if('{{comment.remote_author.host}}' == "https://cmput404f21t17.herokuapp.com/"){
                                team = 17;
                            }else if('{{comment.remote_author.host}}' == "https://ourbackend.herokuapp.com/"){
                                team = 02;
                            }else{
                                team = 10;
                            }
                            
                            let url = '{{comment.remote_author.url}}' +'/inbox/'
                            console.log(url);
                            let host = "{{user.host}}"
                            let user_url = "{{user.id}}".replace(host, "")
                            user_url = host + 'service/' +user_url
                            let like = {
                                "type": "like",
                                "@context": "https://www.w3.org/ns/activitystreams",
                                "summary": "{{user.displayName}}" + " likes your post",
                                "author": {
                                    "type": "author",
                                    "id": user_url,
                                    "host":"{{user.host}}",
                                    "displayName": "{{user.displayName}}",
                                    "url": user_url,
                                    "github": "{{user.github}}",
                                    "profileImage": "{{user.profileImage}}"
                                },
                                "object": '{{comment.commentId}}'
                            };

                            like = JSON.stringify(like);
                            let h = new Headers();
                            if (team == 10){
                                h.append("Authorization", "Basic " + token10);
                            }
                            else if (team == 18){
                                h.append("Authorization", "Basic " + token18);
                            }else if(team == 17){
                                h.append("Authorization", "Basic " + token17);
                            }else if(team == 02){
                                h.append("Authorization", "Basic " + token02);
                            }
                            h.append("Content-Type", "application/json");

                            let req = new Request(url, {
                                method: "POST",
                                mode: "cors",
                                headers: h,
                                body: like,
                            });

                            fetch(req)
                            .then(response => {
                                console.log(response.status);
                            });
                        });
                        counter = counter + 1;
                    </script>
                    {%else%}
    
                    <form method="post" name="commentLike" style="margin-top: 30pt;" action="{{comment.author.id}}/commentLike/">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="commentLike">
                        <input type="hidden" name="url" value="{{ls.id}}">
                        <input type="hidden" name="id" value="{{comment.localId}}">
                        <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                    </form>
                    {%endif%}
                </div>
            {% endfor %}
        {% else %}
            {% for comment in ls.comment_set.all %} 
                {% if comment.author.id == user.id %}
                    <div class="card " style="margin-top: 30pt;">
                        {% if comment.remote%}
                        <div class="card-header">{{comment.remote_author.displayName}} <br> {{comment.published}}</div>
                        {%else%}
                        <div class="card-header">{{comment.author.displayName}} <br> {{comment.published}}</div>
                        {%endif%}
                        
                        <div class="card-body">{{comment.content}}</div>
                        {%if comment.remote%}

                        <form method="post" name="remoteCommentLike" style="margin-top: 30pt;" action="#">
                            {% csrf_token %}
                            <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                        </form>
                        <script>
                            likeComment = [...document.getElementsByName("likeComment")][counter];
                            likeComment.addEventListener("click", function(){
                                token10 = "dDEyOkNNUFVUNDA0";
                                token18 = "dDEyOkNNUFVUNDA0";
                                token17 = "NmNmMGE1MDYtYWQ1Mi00YjNkLWEzMjMtMzRiOTc3NmNiYmE1OjEyMzQ1Ng=="
                                token02 = "VDEyOkNNUFVUNDA0";

                                let url = '{{comment.remote_author.url}}' +'/inbox/'
                                console.log(url);
                                let team;
                                if ('{{comment.remote_author.host}}' == "https://cmput404-socialdistributio-t18.herokuapp.com"){
                                    team = 18;
                                }else if('{{comment.remote_author.host}}' == "https://cmput404f21t17.herokuapp.com/"){
                                    team = 17;
                                }else if('{{comment.remote_author.host}}' == "https://ourbackend.herokuapp.com/"){
                                    team = 02;
                                }else{
                                    team = 10;
                                }
                            

                                let host = "{{user.host}}"
                                let user_url = "{{user.id}}".replace(host, "")
                                user_url = host + 'service/' +user_url
                                let like = {
                                    "type": "like",
                                    "@context": "https://www.w3.org/ns/activitystreams",
                                    "summary": "{{user.displayName}}" + " likes your post",
                                    "author": {
                                        "type": "author",
                                        "id": user_url,
                                        "host":"{{user.host}}",
                                        "displayName": "{{user.displayName}}",
                                        "url": user_url,
                                        "github": "{{user.github}}",
                                        "profileImage": "{{user.profileImage}}"
                                    },
                                    "object": '{{comment.commentId}}'
                                };

                                like = JSON.stringify(like);
                                let h = new Headers();
                                if (team == 10){
                                    h.append("Authorization", "Basic " + token10);
                                }
                                else if (team == 18){
                                    h.append("Authorization", "Basic " + token18);
                                }else if(team == 17){
                                    h.append("Authorization", "Basic " + token17);
                                }else if(team == 02){
                                    h.append("Authorization", "Basic " + token02);
                                }
                                h.append("Content-Type", "application/json");

                                let req = new Request(url, {
                                    method: "POST",
                                    mode: "cors",
                                    headers: h,
                                    body: like,
                                });

                                fetch(req)
                                .then(response => {
                                    console.log(response.status);
                                });
                            });
                            counter = counter + 1;
                        </script>
                        {%else%}

                        <form method="post" name="commentLike" style="margin-top: 30pt;" action="{{comment.author.id}}/commentLike/">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="commentLike">
                            <input type="hidden" name="url" value="{{ls.id}}">
                            <input type="hidden" name="id" value="{{comment.localId}}">
                            <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                        </form>
                        {%endif%}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {% for comment in ls.comment_set.all %}
            <div class="card " style="margin-top: 30pt;">
                {% if comment.remote%}
                <div class="card-header">{{comment.remote_author.displayName}} <br> {{comment.published}}</div>
                {%else%}
                <div class="card-header">{{comment.author.displayName}} <br> {{comment.published}}</div>
                {%endif%}
                <div class="card-body">{{comment.content}}</div>

                {%if comment.remote%}
                <form method="post" name="remoteCommentLike" style="margin-top: 30pt;" action="#">
                    {% csrf_token %}
                    <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                </form>
                <script>
                    
                    likeComment = [...document.getElementsByName("likeComment")][counter];
                    likeComment.addEventListener("click", function(){
                        token10 = "dDEyOkNNUFVUNDA0";
                        token18 = "dDEyOkNNUFVUNDA0";
                        token17 = "NmNmMGE1MDYtYWQ1Mi00YjNkLWEzMjMtMzRiOTc3NmNiYmE1OjEyMzQ1Ng=="
                        token02 = "VDEyOkNNUFVUNDA0";
                        
                        let url = '{{comment.remote_author.url}}' + '/inbox/'
                        let host = "{{user.host}}"
                        let user_url = "{{user.id}}".replace(host, "")
                        user_url = host + 'service/' +user_url
                        console.log(url);


                        let team;
                        if ('{{comment.remote_author.host}}' == "https://cmput404-socialdistributio-t18.herokuapp.com"){
                            team = 18;
                        }else if('{{comment.remote_author.host}}' == "https://cmput404f21t17.herokuapp.com/"){
                            team = 17;
                        }else if('{{comment.remote_author.host}}' == "https://ourbackend.herokuapp.com/"){
                            team = 02;
                        }else{
                            team = 10;
                        }
                        
                        let like = {
                            "type": "like",
                            "@context": "https://www.w3.org/ns/activitystreams",
                            "summary": "{{user.displayName}}" + " likes your post",
                            "author": {
                                "type": "author",
                                "id": user_url,
                                "host":"{{user.host}}",
                                "displayName": "{{user.displayName}}",
                                "url": user_url,
                                "github": "{{user.github}}",
                                "profileImage": "{{user.profileImage}}"
                            },
                            "object": '{{comment.commentId}}'
                        };

                        like = JSON.stringify(like);
                        let h = new Headers();
                        if (team == 10){
                            h.append("Authorization", "Basic " + token10);
                        }
                        else if (team == 18){
                            h.append("Authorization", "Basic " + token18);
                        }else if(team == 17){
                            h.append("Authorization", "Basic " + token17);
                        }else if(team == 02){
                            h.append("Authorization", "Basic " + token02);
                        }
                        h.append("Content-Type", "application/json");

                        let req = new Request(url, {
                            method: "POST",
                            mode: "cors",
                            headers: h,
                            body: like,
                        });

                        fetch(req)
                        .then(response => {
                            console.log(response.status);
                        });
                    });
                    counter = counter + 1;
                </script>
                {%else%}

                <form method="post" name="commentLike" style="margin-top: 30pt;" action="{{comment.author.id}}/commentLike/">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="commentLike">
                    <input type="hidden" name="url" value="{{ls.id}}">
                    <input type="hidden" name="id" value="{{comment.localId}}">
                    <button type="submit", name="likeComment", value="likeComment", class="btn btn-primary" style="float: right;">like</button>
                </form>
                {%endif%}
            </div>
            
            
        {% endfor %}
    {% endif %}
    
    <script>
        let likeDict = '{{likeDict|safe}}';
        if(likeDict != ""){
            likeDict = JSON.parse(likeDict)

            let likeCommets = document.getElementsByName("commentLike")
            for(item of likeCommets){
                let children = item.children
                console.log(children);
                if( likeDict[children[3].value]){
                    children[4]. disabled = true;
                }
            }
        }
    </script>
            
    <form method="post" style="margin-top: 30pt;" action="{{ls.id}}/comments">
        {% csrf_token %}
        <input type="hidden" name="url" value={{ls.id}}>
        <label for="comment">Comment:</label>
        <div class="input-group mb-3">
            <textarea class="form-control" name="content" rows="5" id="comment"></textarea>
        </div>
        <button type="submit", name="newComment", value="newComment", class="btn btn-primary" style="float: right;">Post comment</button>
    </form>

{% endblock %}