{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}

{% block content %}
    <div class="moment" style="margin-top:40pt;">

        <div class="panel panel-default">
          <div class="panel-heading" style="font-size:x-large">{{ls.title}}</div>
          <div class="panel-body">{{ls.content}}</div>
          <div style="padding-bottom: 50pt;">   </div>
        </div>
        <form action="/{{ls.user.id|cut:ls.user.host}}/inbox/" method="post">
        <div class="btn-group btn-group-justified">
            {% csrf_token %}
            <button  class="btn btn-default " type="submit">Share</button>
            
            <button  value="{{ls.id | stringformat:'s'}}" name="like" class="btn btn-default " type="submit">Like</button>   
        </div>  
        </form>>
      
    </div>

    {% for comment in ls.comment_set.all %}
    <div class="panel panel-default" style="margin-top: 30pt;">
        <div class="panel-heading">{{user.username}} <br> {{comment.published}}</div>
        <div class="panel-body">{{comment.content}}</div>
      </div>
    {% endfor %}
    <form method="post" style="margin-top: 30pt;" action="#">
        {% csrf_token %}
        
        <div class="input-group mb-3">
            <label for="comment">Comment:</label>
            <textarea class="form-control" name="new" rows="5" id="comment"></textarea>
        </div>
        <button type="submit", name="newComment", value="newComment", class="btn btn-success" style="float: right;">Post comment</button>
    </form>
{% endblock %}