
{% extends 'main/base.html' %}
{% block style %}
<style>
</style>
{% endblock %}

{% block title %}
User Center
{% endblock %}

{% block content %}
        
    <script>
        var contentBody;
        var counter = 0;

        function addImage(contentBody, src){
            let img = new Image();
            img.src = src;
            // console.log(img.src);
            contentBody.appendChild(img);
            contentBody.setAttribute('style', 'display:flex; justify-content: center');
        }
    </script>
                        
                        
    <h4 style="text-align: center;"> Message Box </h4>                    
    <div class="container">                                  
        <div class="row">
            <div class="col-sm-3" >
             </div>
            
            <div class="col-sm-6">
                
                {% for lp in items %}
                <div class="moment item">
                    <div class="card" style="margin-bottom: 30pt;">
                        {%if lp.type == "like"%}
                        <div class="card-header" style="font-size:large"></div>
                        <div class="card-body" style="font-size:medium">{{lp.summary}} <a href="{{lp.object}}" style="float: right;">View</a><br></div>
                        {%elif lp.type == "follow"%}
                        <div class="card-header" style="font-size:large"></div>
                        <div class="card-body" style="font-size:medium">{{lp.user}} just followed you!<a href="{{lp.userId}}" style="float: right;">View</a><br></div>
                        {%elif lp.type == "post"%}
                            <div class="card-header">
                                <a href="{{lp.userLink}}">{{lp.user}}</a> <span>shared a post to you</span>
                                <div>{{lp.title}}</div>
                            </div>
                          <div class="card-body"><a href="{{lp.id}}" id="content-body"></a></div>
                            {% if lp.contentType == "image/jpeg;base64" or lp.contentType == "image/png;base64" or lp.contentType == "application/base64" %}
                            <script type="text/javascript">
                                contentBody = [...document.querySelectorAll('#content-body')][counter];                  
                                addImage(contentBody, "{{lp.content}}");
                                counter += 1;
                            </script>
                            {% else %}
                            <script type="text/javascript">
                                contentBody = [...document.querySelectorAll('#content-body')][counter];
                                contentBody.innerHTML = "{{lp.content|safe}}";
                                counter += 1;
                            </script>
                            {% endif %}                
                        {%endif%}
                    </div>
 
                {% endfor %}   
        
            </div>
            <div class="col-sm-3" >
            </div>
        </div>
    </div>
    
{% endblock %}