{% extends 'main/base.html' %}
{% block style %}
<style>
    a{
      float: right;
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>
{% endblock %}

{% block title %}
User Center
{% endblock %}

{% block content %}
    
                    
                        
                        
                        
    <div class="row">                                  
        <div class="container">
            <div class="col-sm-4" ><img style=" width: 80%; border-radius: 50%; 
                margin-bottom: 30pt;display: block;
                margin-left: 0" 
                src="https://i.ytimg.com/vi/0ecRKCk89sw/hqdefault.jpg">
             </div>
            
            <div class="col-sm-8">
                
                <form>
                    <input class="btn-lg" type="submit" value="Send Friend Request" style="margin-bottom: 20pt; margin-left: 40%;">
                </form>

                <table class="table table-striped">
                    <tbody>
                     <tr>
                        <td>User Name</td>
                        <td>{{user.username}}</td>
                    </tr>   
                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Github</td>
                        <td>{{user.github}}</td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        
    </div>
    {% for pl in user.moment.all %}
        <div class="moment" style="margin-top:40pt;">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:x-large">{{pl.title}}</div>
            <div class="panel-body">{{pl.content}}</div>
        </div>
        <a href="#">Share</a>
        <a href="#">Comment</a>
        <a href="#">Like</a>    
    </div>

{% endfor %}    
    
{% endblock %}