{% extends 'main/base.html' %}


{% block title %}
View
{% endblock %}

{% block content %}
    {% for pl in user.moment.all %}
    <div class="moment" style="margin-top:40pt;">
        <a href="/{{pl.id}}">
        <div class="panel panel-default">
          <div class="panel-heading" style="font-size:x-large">{{pl.title}}</div>
          <div class="panel-body">{{pl.content}}</div>
        </div>
         
     
    </a>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default " type="Share">Share</a>
            <a href="/{{pl.id}}" class="btn btn-default " type="Share">Comment</a>
            <a href="#" class="btn btn-default " type="Share">Like</a>   
        </div>  
      
    </div>
    
    {% endfor %}
    
    
{% endblock %}